<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ecommerce</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/categorias">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container text-center">
            <h1 class="display-4">Bem-vindo, {{userName}}!</h1>
            <p class="lead">Você está logado e pronto para explorar.</p>
            <hr class="my-4">
            <p>Use a navegação acima para acessar as diferentes seções do site.</p>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">Sistema feito por: Antonio Freire Junior - RA: 2476509 e Ricardo Henrique A. da S. Sousa - RA: 2539047</span>
        </div>
    </footer>
</body>
</html>